# Gaussian Transformation

## Ways of Transformation

- Logarithmic Transformation
- Reciprocal Transformation
- Square Root Transformation
- Exponential Transformation
- Boxcox Transformation

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats

In [11]:
data = pd.read_csv('titanic.csv', usecols=['Age', 'Fare', 'Survived'])
data.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [12]:
data.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [17]:
def input_na(data, variable):
    # function to fill na with random sample
    df = data.copy()
    
    # random sampling
    df[variable+'_random'] = df[variable]
    
    # extract the random sample to fill the na
    random_sample = df[variable].dropna().sample(df[variable].isnull().sum(), random_state=0)
    
    # pandas needs to have the same index in order to merge datasets
    random_sample.index = df[df[variable].isnull()].index
    df.loc[df[variable].isnull(), variable+'_random'] = random_sample
    
    return df[variable+'_random']

In [18]:
data['Age'] = input_na(data, 'Age')

In [19]:
data.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64