# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Dictionaries
- Tuples
- Sets

## Boolean

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [5]:
my_str = "Ankan Bose"

In [6]:
print(my_str.isalnum()) # check if all characters are alphanumerics
print(my_str.isalpha()) # check if all characters are alphabets  
print(my_str.isdigit()) # check if the string contains digits
print(my_str.istitle()) # check if the string contains title words
print(my_str.isupper()) # check if the string contains upper case
print(my_str.islower()) # check if the string contains lower case
print(my_str.isspace()) # check if the string contains sspaces
print(my_str.endswith('d'))  # check if the string ends with d
print(my_str.startswith('A'))  # check if the string starts with A

False
False
False
True
False
False
False
False
True

## Boolean and Logical Operators

In [7]:
True and True

True

In [8]:
True and False

False

In [9]:
True or False

True

In [10]:
True or True

True

In [11]:
not True

False

In [12]:
str_eg = "Hello World"
my_str = "Ankan"

In [13]:
my_str.isalpha() or str_eg.isnum()

True

## Lists

In [14]:
type([])

list

In [15]:
lst_eg =[]

In [16]:
type(lst_eg)

list

In [17]:
lst = list()

In [18]:
type(lst)

list

In [19]:
lst = ['Mathematics', 'Chemistry', 100, 200, 300, 20.5, True]

In [20]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 20.5, True]

In [21]:
len(lst)

7

### Append

In [22]:
# .append is used to append elements to the list
lst.append("Ankan")

In [23]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 20.5, True, 'Ankan']

In [24]:
lst.append([3,5])

In [25]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 20.5, True, 'Ankan', [3, 5]]

### Insert

In [26]:
# insert in a specific index

lst.insert(1, "David")

In [27]:
lst

['Mathematics',
 'David',
 'Chemistry',
 100,
 200,
 300,
 20.5,
 True,
 'Ankan',
 [3, 5]]

### Extend

In [28]:
lst1 = [1,2,3,4,5,6]

In [29]:
lst1.extend([7,8])

In [30]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8]

### Various Operations that we can perform on list

In [31]:
lst2 = [1,2,3,4,5]

In [32]:
sum(lst2)

15

In [33]:
lst2*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### pop() method

In [34]:
lst2.pop()  # without index it will remove the last element

5

In [35]:
lst2

[1, 2, 3, 4]

In [36]:
lst2.pop(0)

1

In [37]:
lst2

[2, 3, 4]

### count() method --> Calculates total occurances of a given element in a list

In [38]:
lst3 = [1,1,2,3,4,5]

In [39]:
lst3.count(1)

2

In [40]:
len(lst3)

6

In [41]:
# index() : Returns index of first occurance, Start and End index are not necessary parameters
lst3.index(1,0,4)

0

In [42]:
min(lst3)

1

In [43]:
max(lst3)

5

## Sets

In [44]:
## Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [45]:
set_var = {"Avengers", "IronMan", "HitMan"}
print(set_var)
print(type(set_var))

{'Avengers', 'HitMan', 'IronMan'}
<class 'set'>

In [46]:
## Inbuilt functions in sets

set_var.add("Hulk")
print(set_var)

{'Hulk', 'Avengers', 'HitMan', 'IronMan'}

In [59]:
set1 = {"Avengers", "IronMan", "HitMan"}
set2 = {"Avengers", "IronMan", "HitMan", "Hulk"}

In [60]:
set2.intersection(set1)

{'Avengers', 'HitMan', 'IronMan'}

In [61]:
# difference

set2.difference(set1)

{'Hulk'}

In [62]:
set2

{'Avengers', 'HitMan', 'Hulk', 'IronMan'}

In [63]:
set2.difference_update(set1)

In [64]:
set2

{'Hulk'}

## Dictionaries

In [65]:
dic  = {}

In [66]:
type(dic)

dict

In [68]:
## Creating a dictionary

my_dict = {"Car1": "Audi", "Car2": "BMW", "Car3": "Mercedes Benz"}

In [69]:
type(my_dict)

dict

In [70]:
## Access the item values based on keys

my_dict['Car1']

'Audi'

In [73]:
## We can even loop through the dictionary values

for x in my_dict:
    print(x)
    print(my_dict[x])

Car1
Audi
Car2
BMW
Car3
Mercedes Benz

In [74]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [75]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [76]:
## Adding items to dictionary

my_dict["Car4"] = "Ferrari"

In [77]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'Ferrari'}

In [78]:
## Replacing values in dictionary

my_dict["Car1"] = "Lamborgini"

In [79]:
my_dict

{'Car1': 'Lamborgini',
 'Car2': 'BMW',
 'Car3': 'Mercedes Benz',
 'Car4': 'Ferrari'}

### Nested Dictionary

In [80]:
car1_model = {"Mercedes":1960}
car2_model = {"Audi": 1970}
car3_model = {"Ambassador": 1980}

car_type = {"car1": car1_model, "car2": car2_model, "car3": car3_model}

In [81]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [82]:
## Accessing the items

print(car_type['car1'])

{'Mercedes': 1960}

In [83]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [84]:
## Create an empty tuple

my_tuple = tuple()

In [85]:
type(my_tuple)

tuple

In [86]:
my_tuple = ("David", "Jordan", "Karl")

In [87]:
my_tuple[0]

'David'

In [88]:
type(my_tuple)

tuple

In [89]:
my_tuple

('David', 'Jordan', 'Karl')

In [91]:
# Tuple is non mutable

my_tuple[0] = "Hulk"

TypeError: 'tuple' object does not support item assignment

In [92]:
## Inbuilt functions

my_tuple.count('David')

1

In [93]:
my_tuple.index("Karl")

2