# Simple Linear Regression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read the dataset

dataset = pd.read_csv('Salary_Data.csv')

In [3]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
dataset.shape

(30, 2)

In [47]:
# Split the dataset into independent variable (X) and dependent variable (y)

X = dataset.iloc[:,:-1]
# X = dataset.iloc[:,:-1].values

In [48]:
X.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [49]:
y = dataset.iloc[:,1]

In [50]:
y.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [51]:
# Split data into training and test dataset

from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=1/3, random_state=0)

In [53]:
# implement our classifier based on simple linear regression

from sklearn.linear_model import LinearRegression

In [54]:
simpleLinearRegressor = LinearRegression()

In [55]:
simpleLinearRegressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [56]:
y_predict = simpleLinearRegressor.predict(X_test)

In [57]:
y_predict

array([ 40835.10590871, 123079.39940819,  65134.55626083,  63265.36777221,
       115602.64545369, 108125.8914992 , 116537.23969801,  64199.96201652,
        76349.68719258, 100649.1375447 ])

In [ ]:
# Implement the graph

plt.scatter(X_train,y_train,color='red')
plt.plot(X_train, simpleLinearRegressor.predict(X_train))