# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Dictionaries
- Tuples
- Sets

## Boolean

In [1]:
type(True)

bool

In [2]:
type(False)

bool

In [3]:
my_str = "Ankan Bose"

In [7]:
print(my_str.isalnum()) # check if all characters are alphanumerics
print(my_str.isalpha()) # check if all characters are alphabets  
print(my_str.isdigit()) # check if the string contains digits
print(my_str.istitle()) # check if the string contains title words
print(my_str.isupper()) # check if the string contains upper case
print(my_str.islower()) # check if the string contains lower case
print(my_str.isspace()) # check if the string contains sspaces
print(my_str.endswith('d'))  # check if the string ends with d
print(my_str.startswith('A'))  # check if the string starts with A

False
False
False
True
False
False
False
False
True

## Boolean and Logical Operators

In [8]:
True and True

True

In [9]:
True and False

False

In [10]:
True or False

True

In [11]:
True or True

True

In [12]:
not True

False

In [13]:
str_eg = "Hello World"
my_str = "Ankan"

In [14]:
my_str.isalpha() or str_eg.isnum()

True

## Lists

In [15]:
type([])

list

In [16]:
lst_eg =[]

In [17]:
type(lst_eg)

list

In [20]:
lst = list()

In [23]:
type(lst)

list

In [39]:
lst = ['Mathematics', 'Chemistry', 100, 200, 300, 20.5, True]

In [40]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 20.5, True]

In [41]:
len(lst)

7

### Append

In [42]:
# .append is used to append elements to the list
lst.append("Ankan")

In [43]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 20.5, True, 'Ankan']

In [44]:
lst.append([3,5])

In [45]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 20.5, True, 'Ankan', [3, 5]]

### Insert

In [46]:
# insert in a specific index

lst.insert(1, "David")

In [47]:
lst

['Mathematics',
 'David',
 'Chemistry',
 100,
 200,
 300,
 20.5,
 True,
 'Ankan',
 [3, 5]]

### Extend

In [49]:
lst1 = [1,2,3,4,5,6]

In [50]:
lst1.extend([7,8])

In [51]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8]

### Various Operations that we can perform on list

In [74]:
lst2 = [1,2,3,4,5]

In [75]:
sum(lst2)

15

In [78]:
lst2*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### pop() method

In [79]:
lst2.pop()  # without index it will remove the last element

5

In [80]:
lst2

[1, 2, 3, 4]

In [81]:
lst2.pop(0)

1

In [82]:
lst2

[2, 3, 4]

### count() method --> Calculates total occurances of a given element in a list

In [83]:
lst3 = [1,1,2,3,4,5]

In [84]:
lst3.count(1)

2

In [85]:
len(lst3)

6

In [86]:
# index() : Returns index of first occurance, Start and End index are not necessary parameters
lst3.index(1,0,4)

0

In [87]:
min(lst3)

1

In [88]:
max(lst3)

5